<div class="item-container">
  <h1>{{title}}</h1>
  {{#each items as | item |}}
    {{item-component item=item image=item.image title=item.title author = item.author type=item.type }}
  {{/each}}
</div>