<div class="about-container">
  <h1>About SuperApp</h1>
  <p>This is the SuperApp. My first application in Ember!</p>
  <p>You can see a list of books and movies.You can search and can see more details about book or movie.</p>
  <img src="/assets/images/super.jpg">
</div>

{{outlet}}