<div class="app-container">
  <nav>
    <ul>
      <li>{{#link-to 'book'}}Books{{/link-to}}</li>
      <li>{{#link-to 'movie'}}Movies{{/link-to}}</li>
      <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
    </ul>
  </nav>
  <div class="body">
    {{outlet}}
  </div>
</div>